<div class="container">

    <form>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="LoginCtrl.data.email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="LoginCtrl.data.password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" ng-click="LoginCtrl.login()" class="btn btn-default">Submit</button>
        <a ui-sref="register">or register</a>
    </form>
</div>
